*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h3{
	font-family: 'Arial';
	font-size: 1em;
	letter-spacing: 1px;
	width: 100%;
	background: #4a5358;
	padding: 15px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;

}
#container{
	margin: auto;
	padding: 15%;
	background: #9d9fa1;
	width: 100%;
	height: 720px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}/*
#container form{
	background: #FFF;
	width: 400px;
	padding: 10px;
}*/
#container form {
    width: 80%;
    max-width: 720px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    overflow: hidden;
}

.forms {
    width: 100%;
    padding: 40px;
    background: #f7f7f7;
	border-radius: 2%;
}
#logo-header {
	float: center;
	padding: 15px 0 0 20px;
	text-decoration: none;
    color: rgb(19, 18, 18);
}
#logo-header:hover {
		color: #152127;
	}
	
	#logo-header .site-name {
		text-align: center;
		display: block;
		font-weight: 700;
		font-size: 3em;
	}
	
	#logo-header .site-desc {
		display: block;
		text-align: center;
		font-weight: 300;
		font-size: 1em;
		color: #999;
	}
#container form img{
	margin: 15px auto;
	text-align: center;
	display: block;
}
#container form input{
	width: 90%;
	padding: 5px;
	font-size: 16pt;
	display: block;
	margin: 25px auto;
	border-radius: 5px;
	border: 1px solid  #85929e;
	text-align: center;
}

#container form input[type="submit"]{
	background:  #52be80;
	padding: 10px;
	color: #FFF;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
}
.alert{
	font-family: 'Arial';
	font-size: 16px;
	text-align: center;
}

/*acerca de */
.acerca-de{

    padding-top: 20px;
    background-color: #e0e7eb;
}
.acerca-de h3{
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;
		background-color: #0e354dfb;
}
.acerca-de h2{
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}
.acerca-de  p{
    color: #040505;
    text-align: justify;
    padding: 15px;
}
 .contenedor-acerca-de{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
	margin: 105px;
}

 .contenedor-acerca-de .card-acerca{
    width:100%;
	background-color: #0e354dfb;
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
    margin:20px;
}

.contenedor-acerca-de .card-acerca i{
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
}

.contenedor-acerca-de .card-acerca h4{
    color: #fff;
    margin-bottom: 15px;
    font-weight: 600;
}

.contenedor-acerca-de .card-acerca p{
    color: #fff;
    margin-bottom: 15px;
    font-weight: 300;
    text-align: justify;
}
/*Termina acerca de*/
@media screen and (max-width: 800px) {

	.contenedor-acerca-de .card-acerca{
        width: 90%;
    } 

    .forms {
        margin: auto;
        width: 100%;
        background: white;
		display: flex;
    }
}


